<br><br>
<table border="1" id="table" style="display: none" border="1" id="table"  class="table table-hover table-dark">
  <thead>
    <tr  style="background-color: black">
      <th style="color: blue"  scope="col"><font size=30>Id</font></th>
      <th  style="color: blue"scope="col"><font size=30>Comapny Name</font></th>
      <th  style="color: blue" scope="col"><font size=30>Password </font></th>
      <th  style="color: blue"scope="col"><font size=30> Email</font></th>
    </tr>
  </thead>
  <tbody>
    <tr id="tr_company">
      <th scope="row"><font size=30>{{company.id}}</font></th>
      <td><font size=30>{{company.companyName}}</font></td>
      <td><font size=30>{{company.password}}</font></td>
      <td><font size=30>{{company.email}}</font></td>
   </tr>
    </tbody>
    </table>

    <!-- Modal failure for get Company -->
  <div  class="modal fade" id="exampleModalfailureget" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
  aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModal3Label">Get Your Company Details  Failed</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
        {{error}}
       </div>
       <div class="modal-footer">
         <button id="closemodal"  data-dismiss="modal" type="button" class="btn btn-primary">Close </button>
       </div>
     </div>
   </div>
 </div>
