

<div class="container">
        <h1>Create New Company</h1>
            <form  #myform="ngForm" ngNativeValidate  class="form-horizontal" role="form">

              <div class="form-group">
                <label for="name1" class="col-sm-2 control-label">Company Name:</label>
                <div class="col-sm-6">
                  <input  required name="company_name" [(ngModel)]="company.companyName" type="text"
                   class="form-control inputstl" placeholder="Enter  Full Company  Name">
                   
                </div>
              </div>
              

              <div class="form-group">
                    <label for="password1" class="col-sm-2 control-label">Company Password:</label>
                    <div class="col-sm-6">
                      <input required name="company_password" [(ngModel)]="company.password"
                       type="password" class="form-control inputstl" placeholder="Enter Password here">
                    </div>
                  </div>
                   
              <div class="form-group">
                <label for="email1" class="col-sm-2 control-label">Company Email:</label>
                <div class="col-sm-6">
                  <input required name="comapny_email" [(ngModel)]="company.email" type="email"
                   class="form-control inputstl" placeholder="Enter Email" pattern="\S+@\S+">
                </div>
              </div>
             
              
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="submit"  class="btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#exampleModalcreate">
                  Add Company</button>
                </div>
              </div>
            </form>
           </div> 


           



           
           <div *ngIf="!myform.valid" class="col-sm-offset-3 col-sm-6"  style="color:red">
             please enter data to all fields to Add Company
            </div> 
 
             

              <!-- Modal create  -->
              <div *ngIf="myform.valid" class="modal fade" id="exampleModalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal3Label">Create Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to add new company?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="closemodal" (click)="addCompany()" data-dismiss="modal" type="button" class="btn btn-primary">Add Compny</button>
                      </div>
                    </div>
                  </div>
                </div>
                        
              
                 <!-- Modal success  -->
              <div  class="modal fade" id="exampleModalsucess" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
               aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal3Label">Create Company Success</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      The Company has been successfully added!!
                    </div>
                    <div class="modal-footer">
                      <button id="closemodal"  data-dismiss="modal" type="button" class="btn btn-primary">Close </button>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- Modal failure  -->
              <div  class="modal fade" id="exampleModalfailure" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
              aria-hidden="true">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModal3Label">Create Company failed</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                     {{error}}
                   </div>
                   <div class="modal-footer">
                     <button id="closemodal"  data-dismiss="modal" type="button" class="btn btn-primary">Close </button>
                   </div>
                 </div>
               </div>
             </div>



              
              