<div class="container">
    <h1>Create New Customer</h1>
        <form  #myform="ngForm" ngNativeValidate class="form-horizontal" role="form">
          <div class="form-group">
            <label for="name1" class="col-sm-2 control-label">Customer Name:</label>
            <div class="col-sm-6">
              <input  required name="customer_name" [(ngModel)]="customer.custName" type="text"
               class="form-control inputstl" placeholder="Enter  Full Customer  Name">
            </div>
          </div>

          <div class="form-group">
                <label for="password1" class="col-sm-2 control-label"> Customer Password:</label>
                <div class="col-sm-6">
                  <input required name="customer_password" [(ngModel)]="customer.password"
                   type="password" class="form-control inputstl" placeholder="Enter Password here">
                </div>
              </div>
               
          
         
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button  type="submit" class="btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#exampleModalcreate">
              Add Customer</button>
            </div>
          </div>
        </form>
       </div> 

       <div *ngIf="!myform.valid"  class="col-sm-offset-3 col-sm-6"style="color:red">
         please enter data to all fields to Add Customer </div>


       

       <!-- Modal create -->
<div *ngIf="myform.valid" class="modal fade" id="exampleModalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModal3Label">Create Customer</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to add new customer?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button data-dismiss="modal" (click)="addCustomer()" type="button" class="btn btn-primary">Add Customer</button>
    </div>
  </div>
</div>
</div>

<!-- Modal success  -->
<div  class="modal fade" id="exampleModalsucess" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModal3Label">Create Customer Success</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       The Customer has been successfully added!!
     </div>
     <div class="modal-footer">
       <button id="closemodal"  data-dismiss="modal" type="button" class="btn btn-primary">Close </button>
     </div>
   </div>
 </div>
</div>


<!-- Modal failure  -->
<div  class="modal fade" id="exampleModalfailure" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModal3Label">Create Customer failed</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{error}}
    </div>
    <div class="modal-footer">
      <button id="closemodal"  data-dismiss="modal" type="button" class="btn btn-primary">Close </button>
    </div>
  </div>
</div>
</div>


